/.local/bin/pt*
/.local/bin/pip*
/.config/fish/completions/
/.config/fish/conf.d/
/.config/fish/fish_variables
/.bash/.bash_logout
/.bash/.bash_pofile
.bash/.bash_history*
.config/qtile/__pycache__/
.zsh/.zhistory
