/* ============================================================
 *   GLOBAL
 * ============================================================ */
* {
  font-family: "FontAwesome", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  color: #fff;
  padding: 0;
}

/* ============================================================
 *   TOOLTIP
 * ============================================================ */
tooltip, .tooltip {
  background: linear-gradient(180deg, #55aaff 0%,  rgba(0, 60, 200, 1) 30%, rgba(10, 20, 128, 1) 70%);
  color: #fff;
  border-radius: 8px;
  padding: 6px 8px;
  box-shadow: none;
}

/* ============================================================
 *   WAYBAR WINDOW
 * ============================================================ */
window#waybar {
  background: rgba(0, 0, 0, 0.0);
  border-radius: 16px;
  border: none;
  padding: 0;
  margin: 0;
}

/* ============================================================
 *   MODULES (Blue Gradient)
 * ============================================================ */
  #tags,
  #workspaces,
  #clock,
  #battery,
  #cpu,
  #memory,
  #network,
  #pulseaudio,
  #pulseaudio-slider,
  #mpris,
  #custom-separator,
  #custom-power,
  #backlight,
  #backlight-slider,
  #tray,
  #custom-power {
    font-family: fira-code;
    background: linear-gradient(180deg, #55aaff 0%,  rgba(0, 60, 200, 1) 50%, rgba(10, 20, 200, 1) 50%, rgba(10, 20, 128, 1) 80%);
  }

  #clock {
    border-radius: 24px;
  padding: 0 10px;
}

/* ============================================================
 *   MODULE END CAPS
 * ============================================================ */
#tags,
#workspaces {
  border-radius: 24px;
}

#custom-power {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 0 10px 0 6px;
}

#mpris,
#memory {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

/* ============================================================
 *   PADDING
 * ============================================================ */
#tray {
  padding-left: 4px;
}

#tags,
#workspaces,
#battery,
#cpu {
  padding: 0 10px;
  padding-left: 6px;
}

#battery.charging {
  padding-right: 4px;
}

#pulseaudio {
  padding: 0 12px;
  padding-left: 6px;
}

#backlight {
  padding: 0;
  margin: 0 -5px;
}

#memory {
  padding: 0 6px;
  padding-left: 12px;
}

#mpris {
  padding-left: 12px;
}

#custom-power {
  padding-left: 6px;
}

/* #pulseaudio-slider { */
/*   padding: 0px, 10px; */
/* } */

/* ============================================================
 *   SLIDERS
 * ============================================================ */
#pulseaudio-slider slider,
#backlight-slider slider {
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  margin:6px 0;
  min-height: 8px;
  border: none;
  min-width: 10px;
  border-radius: 2px;
  background: transparent;
  box-shadow: none;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
  min-height: 4px;
  min-width: 100px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(180deg, #55aaff 0%,  rgba(0, 60, 200, 1) 50%, rgba(10, 20, 200, 1) 50%, rgba(10, 20, 170, 1) 80%);
  box-shadow: 0px 0px 3px 0px rgba(255, 255, 255,0.1) inset;
}

/* ============================================================
 *   WORKSPACES BUTTONS
 * ============================================================ */
#tags button,
#workspaces button {
  padding: 0;
  margin: 0 3px;
  background: transparent;
  border: none;
  color: #fff;
  /* border-radius: 6px; */
  transition: all 0.2s ease;
}
