/* vim:fileencoding=utf-8:foldmethod=marker
*/

/* Define colors */
/* {{{ */
@define-color background1 rgba(32, 32, 48, 1);
@define-color background2 rgba(21, 21, 32, 1);
@define-color sepepator #313244;
@define-color warning #f38ba8;
@define-color caution #45475a;
@define-color performance #f5c2e7;
@define-color audio #cba6f7;
@define-color misc #94e2d5;
@define-color date #a6e3a1;
@define-color work #b4befe;
@define-color window #b4befe;
@define-color resize #eba0ac;
@define-color process #89b4fa;
@define-color text #000000;
/* }}} */

/* Reset all styles */
/* {{{ */
* {
  border: none;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
}

/* }}} */

/* Main bar keyframes */
/* {{{ */

/* Keyframes for main bar criticals */

@keyframes blink-urgent-workspace {
  to {
    color: @warning;
    /* background-image: linear-gradient( */
    /*   -63.435deg, */
    /*   transparent 25%, */
    /*   @warning 25%, */
    /*   @warning 75%, */
    /*   transparent 75% */
    /* ); */
  }
}

@keyframes blink-critical-text {
  to {
    color: @sepepator;
  }
}

/* Keyframes for main bar modifiers */
@keyframes blink-modifier-text {
  to {
    color: @sepepator;
  }
}

@keyframes blink-special-workspace {
  to {
    color: @window;
  }
}

/* }}} */

/* Main bar defaults */
/* {{{ */
#waybar {
  background: @background2;
  font-family: "JetBrainsMono Nerd Font propo";
  /* font-family: "gohufont11 nerd font propo"; */
  font-size: 12pt;
  font-weight: 600;
  color: @text;
  /* box-shadow: */
  /*   inset 0px 5px 4px -5px rgba(170, 190, 255, 0.5), */
  /*   inset 0px -5px 4px -5px rgba(170, 190, 255, 1); */
}

#waybar button {
  font-family: "JetBrains Mono Nerd Font propo";
  font-size: 12pt;
  font-weight: 600;
  color: @text;
}

/* }}} */

/* Main bar modules */
/* {{{ */
#cava,
#custom-headsetbattery,
#custom-weather,
#keyboard-state,
#network,
#backlight,
#clock,
#cpu,
#language,
#memory.swap,
#memory.ram,
#submap,
#pulseaudio,
#temperature,
#traym,
#window,
#disk {
  padding-left: 5px;
  padding-right: 6px;
  background: @module_bg;
}

#weather {
  padding: 0px 8px;
}

#brightness,
#battery {
  padding: 0px 4px 0px 6px;
  background: @module_bg;
}
/* }}} */

/* Module colors */
/* {{{ */
#custom-nvidia,
#cpu,
#temperature,
#memory.ram,
#memory.swap,
#disk,
#mpris,
#network {
  color: @performance;
  background: @background1;
}

#mpris {
padding-left: 8px;
}

#cava {
  font-size: 11px;
}

#cava,
#custom-headsetbattery,
#pulseaudio {
  color: @audio;
  background: @background2;
}

#custom-battery,
#language,
#backlight,
#battery {
  color: @misc;
  background: @background1;
}

#custom-weather,
#clock {
  color: @date;
  background: @background2;
}

#tray {
  font-size: 16px;
  padding-right: 8px;
}

#clock {
  border-radius: 0px 0px 0px 0px;
}

#window {
  color: @window;
  box-shadow: none;
  font-style: italic;
}

#network.info {
  padding-right: 8px;
  padding-left: 4px;
  color: @caution;
}

#network.info.wifi.normal,
#network.info.ethernet {
  color: @performance;
  padding-right: 8px;
}

#network.info.wifi {
  color: @warning;
  padding-right: 8px;
}

/* }}} */

/* Submap */
/* {{{ */
#submap.󰲏 {
  color: @resize;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
  box-shadow: none;
}

#submap. {
  color: @date;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
  box-shadow: none;
}

/* }}} */

/* Main bar criticals */
/* {{{ */
#custom-nvidia.critical,
/* #waybar.main #custom-battery.critical, */
#custom-headsetbattery.critical,
#memory.swap.critical,
#memory.ram.critical,
#cpu.critical,
#temperature.critical {
  color: @warning;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

#workspaces button.urgent,
#workspaces button.special.urgent {
  transition: all 0s ease;
  background-image: linear-gradient(
    -63.435deg,
    transparent 25%,
    @background2 25%,
    @background2 75%,
    transparent 75%
  );
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-urgent-workspace;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* }}} */

/* Main bar warnings */
/* {{{ */
#custom-headsetbattery.off,
#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
  color: @sepepator;
}
#custom-headsetbattery.low,
#battery.warning,
#battery.critical {
  color: @warning;
}

/* }}} */

/* Battery chargin */
/* {{{ */
#battery.charging {
  color: @misc;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* }}} */

/* Workspaces */
/* {{{ */
/* Default workspace settings */

#workspaces {
  /* background: @warning; */
  padding-left: 20px;
  padding-right: 4px;
  margin-top: -6px;
  margin-bottom: -6px;
  background-image: linear-gradient(
    -243.435deg,
    @background2 17px,
    @sepepator 17px,
    @sepepator 21px,
    transparent 21px,
    transparent calc(100% -22px),
    @sepepator calc(100% -22px),
    @sepepator calc(100% - 18px),
    transparent calc(100% - 18px)
  );
}

#workspaces button {
  color: #45475a;
  background: transparent;
  border: 1.5px solid transparent;
  padding-left: 4pt;
  padding-right: 4pt;
  transition: all 0.25s ease;
  padding-right: 16px;
  padding-left: 16px;
  font-style: italic;
  margin-left: -17px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-image: linear-gradient(
    -63.435deg,
    transparent 25%,
    @background2 25%,
    @background2 75%,
    transparent 75%
  );
}

/* Focused workspace */
#workspaces button.visible {
  color: @text;
  background-image: linear-gradient(
    -63.435deg,
    transparent 25%,
    @caution 25%,
    @caution 75%,
    transparent 75%
  );
}

/* Focused workspace & monitor */
#workspaces button.active {
  color: @window;
  background-image: linear-gradient(
    -63.435deg,
    transparent 24%,
    @sepepator 24%,
    @sepepator 28%,
    @background1 28%,
    @background1 73%,
    @sepepator 73%,
    @sepepator 76%,
    transparent 76%
  );
}

/* Style when cursor is on the button */
#workspaces button:hover {
  color: @window;
}

/* Special workplace animation */
#workspaces button.special.active {
  transition: all 0s ease;
  border: 1.5px solid transparent;
  color: @sepepator;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-special-workspace;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* }}} */

/* Custom icons as spacers */
/* {{{ */
#custom-spacer1,
#custom-spacer2,
#custom-spacer3,
#custom-spacer4,
#custom-spacer5,
#custom-spacer7,
#custom-spacer6 {
  font-size: 16pt;
  font-weight: bold;
  color: transparent;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: -4px;
  margin-top: -4px;
}

#custom-spacer1 {
  background-image: linear-gradient(
    63.435deg,
    @transparent 47.5%,
    @sepepator 47.6%,
    @sepepator 52.4%,
    @background1 52.5%
  );
}

#custom-spacer2 {
  background-image: linear-gradient(
    63.435deg,
    @background1 47.5%,
    @sepepator 47.6%,
    @sepepator 52.4%,
    @background2 52.5%
  );
}

#custom-spacer3 {
  background-image: linear-gradient(
    63.435deg,
    @background2 47.5%,
    @sepepator 47.6%,
    @sepepator 52.4%,
    @background1 52.5%
  );
}

#custom-spacer4 {
  background-image: linear-gradient(
    63.435deg,
    @background1 47.5%,
    @sepepator 47.6%,
    @sepepator 52.4%,
    @background2 52.5%
  );
}

#custom-spacer5 {
  background-image: linear-gradient(
    -63.435deg,
    @transparent 47.5%,
    @sepepator 47.6%,
    @sepepator 52.4%,
    transparent 52.5%
  );
}

#custom-spacer6 {
  background-image: linear-gradient(
    -63.435deg,
    @transparent 47.5%,
    @sepepator 47.6%,
    @sepepator 52.4%,
    transparent 52.5%
  );
}

#custom-spacer7 {
  background-image: linear-gradient(
    -63.435deg,
    @background1 47.5%,
    @sepepator 47.6%,
    @sepepator 52.4%,
    @background2 52.5%
  );
}
/* }}} */

/* Custom tray icon */
/* {{{ */
#custom-trayicon {
  font-size: 11pt;
  color: transparent;
  /* font-weight: bold; */
  font-style: italic;
  background: transparent;
  padding-right: 0pt;
  padding-left: 2pt;
  background-size: 16px;
  background-position: 2px, 0px;
  background-repeat: no-repeat;
  background-image: url("/home/jan-aarela/.config/hypr/themes/Mocha-Power/pacman.png");
}

/* }}} */

/* Tooltip */
/* {{{ */
tooltip {
  background: @background;
  border: 3px solid @caution;
  border-radius: 8px;
  font-weight: 500;
  font-family: "JetBrains Mono Nerd Font";
}

#tray menu {
  background: @background;
  border: 3px solid @caution;
}

/* }}} */

/* Indicator bar keyframes */
/* {{{ */
@keyframes blink-critical-battery {
  to {
    border-color: @warning;
    box-shadow:
      inset 0px 3px 4px -5px @warning,
      inset 0px -3px 4px -5px @warning;
  }
}

@keyframes blink-warning-battery {
  to {
    border-color: @warning;
    box-shadow:
      inset 0px 3px 4px -5px @warning,
      inset 0px -3px 4px -5px @warning;
  }
}

@keyframes blink-discharging-battery {
  to {
    border-color: @warning;
    box-shadow:
      inset 0px 3px 4px -5px @warning,
      inset 0px -3px 4px -5px @warning;
  }
}

@keyframes blink-charging-battery {
  to {
    border-color: @misc;
    box-shadow:
      inset 0px 3px 4px -5px @misc,
      inset 0px -3px 4px -5px @misc;
  }
}

@keyframes blink-full-battery {
  to {
    border-color: @misc;
    box-shadow:
      inset 0px 3px 4px -5px @misc,
      inset 0px -3px 4px -5px @misc;
  }
}

/* }}} */

/* indicator bar battery module */
/* {{{ */

/* Set defaults for indicator bar */
#waybar.indicator {
  font-size: 10px;
  /* This makes indicator thicker */
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

/* Set "battery bar" style */
#waybar.indicator #batteryindicator {
  border: 2.5px solid @sepepator;
  background: transparent;
  box-shadow:
    inset 0px 4px 4px -5px rgba(0, 0, 0, 0.5),
    inset 0px -4px 4px -5px rgba(0, 0, 0, 0.5);

  padding-left: 1202px;
  /* Use this for padding:  */
  /* (H_rez / scaling) - L_margin -R_margin - 2 * border - (font-size / 2)*/
  /* For example: (2880px / 1.25) - 24 - 24 - 2 * 2.5 - (27 / 2) = 2237.5px */
}

/* Blink red when battery is very low */
#waybar.indicator #batteryindicator.critical {
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical-battery;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* Blink red twice when battry is low battery */
#waybar.indicator #batteryindicator.warning {
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-name: blink-warning-battery;
  animation-duration: 0.2s;
  animation-timing-function: steps(15);
}

/* Blink once red when disconnected from AC */
#waybar.indicator #batteryindicator.discharging {
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-name: blink-discharging-battery;
  animation-duration: 0.3s;
  animation-timing-function: steps(15);
}

/* Blink once cyan when plugged to AC */
#waybar.indicator #batteryindicator.charging {
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-name: blink-charging-battery;
  animation-duration: 0.3s;
  animation-timing-function: steps(15);
}

/* Blink cyan twice when battery is full */
#waybar.indicator #batteryindicator.full {
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-name: blink-full-battery;
  animation-duration: 0.2s;
  animation-timing-function: steps(15);
}

/* }}} */
