/*
  =====================================================
  -----------------------------------------------------
  Launch the power menu for wayland compositors
     Jason Bradberry (2024)
  -----------------------------------------------------
  =====================================================
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import "../../.cache/wal/colors-wlogout.css";

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "Hack Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
  /* font-family: "Hack Nerd Font"; */
    sans-serif;
  background-image: none;
  transition: 20ms;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  color: @color5;
  font-size: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;

  border-style: solid;
  background-color: rgba(12, 12, 12, 0.7);
  border: 3px solid @color11;

  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.89);
}

button:focus,
button:active,
button:hover {
  color: #ffffff;
  background-color: rgba(12, 12, 12, 0.5);
  border: 3px solid #ffffff;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
  margin: 10px;
  border-radius: 2px;
  background-image: image(url("icons/lock.png"));
}

#logout {
  margin: 10px;
  border-radius: 2px;
  background-image: image(url("icons/logout.png"));
}

#suspend {
  margin: 10px;
  border-radius: 2px;
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  margin: 10px;
  border-radius: 2px;
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  margin: 10px;
  border-radius: 2px;
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  margin: 10px;
  border-radius: 2px;
  background-image: image(url("icons/reboot.png"));
}
