/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import "../../../../../.cache/wal/colors-waybar.css";

@define-color barbackground @color15;
@define-color backgroundlight #FFFFFF;
@define-color backgrounddark @color05;
@define-color workspacesbackground1 @color11;
@define-color workspacesbackground2 @color09;
@define-color bordercolor @color4;
@define-color bordercolorb @color12;
@define-color tooltipbackground rgba(30,32,48,1.0);
@define-color tooltiptext rgba(245,169,127,1.0);
@define-color textcolor1 #FFFFFF;
@define-color textcolor2 #FFFFFF;
@define-color textcolor3 #000000;
@define-color iconcolor #FFFFFF;

@import "../style.css";
