 window {
    background-image: url("/home/moosicmaan/Pictures/Backgrounds/camera-explorer-scientist.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
 }
