/* =====================================================
// -----------------------------------------------------
// MOOSIC WAYBAR STYLE
// Ref:https://man.archlinux.org/man/extra/waybar/waybar.5.en
// -----------------------------------------------------
// =====================================================
 */

/* -----------------------------------------------------
 * General 
 * -----------------------------------------------------
font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial,
  sans-serif;
font-family: DejaVuSansM Nerd Font Propo;
font-family: SpaceMono Nerd Font Propo;
font-family: Roboto Condensed;
font-family: MonaspiceRn Nerd Font Propo;
  font-family: ComicShannsMono Nerd Font Propo;
  font-family: OpenDyslexicM Nerd Font Propo;
  font-family: Iosevka Nerd font Propo;
  font-family: ProFont IIx Nerd Font Propo;
background-color: @backgroundlight;
background-color: #ffffff;
 */
* {
  
  font-family: Hack Nerd Font Propo;
  border: none;
  /*border-radius: 15px;*/
  border-radius: 5px;
  margin: 0px 1px 0px 1px;
  padding: 0px 0px 0px 0px;
  font-size: 14px;
  color: @textcolor1;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.7);
}

/* -----------------------------------------------------
 * Waybar Main Window
 * -----------------------------------------------------
 */
#window {
  background-color: transparent;
  padding: 0px 0px 0px 9px;
}
window#waybar {
  /*
  border-bottom: 2px solid @bordercolorb;
  color: #FFFFFF; 
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  background: linear-gradient(
    0.45turn,
    @color1,
    transparent 50%,
    @color6,
    @color10 90%
  );
  background-image: url("/home/moosicmaan/Pictures/Backgrounds/47839.jpg");
  */
  background-color: alpha (@barbackground, 0.6);
  border-radius: 0px;
}
window#waybar.spotube {
  background: linear-gradient(
    0.45turn,
    #ff00ff,
    transparent 50%,
    #0000ff,
    #00ff00 99%
  );
}
window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Workspaces and Tags
 * -----------------------------------------------------
#workspaces
#workspaces button
#workspaces button.active
#workspaces button.empty
#workspaces button.persistent
#workspaces button.special
#workspaces button.visible
#workspaces button.urgent
#workspaces button.hosting-monitor (gets applied if workspace-monitor == waybar-monitor)
 */
#workspaces {
  /* 
  background: @workspacesbackground1;
  background-color: @workspacesbackground2;
  text-shadow: 2px 2px 5px rgba(100, 100, 100, 0);
  padding: 0px 0px 0px 0px;
  */
  font-weight: bold;
  font-style: normal;
  opacity: 0.7;
  border: 1px solid @bordercolor;
  border-bottom: 2px solid @bordercolorb;
  border-right: 2px solid @bordercolorb;
  background-color: @workspacesbackground1;
  color: @textcolor1;
}
/*#tags button,*/
#workspaces button {
  /* 
  background: @workspacesbackground1;
  background-color: @workspacesbackground2;
  */
  padding: 0px 2px 0px 2px;
  color: @textcolor1;
  background-color: @workspacesbackground2;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}
#workspaces button.empty {
  color: @textcolor1;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}
/*#tags button.occupied,*/
#workspaces button.active {
  color: @textcolor1;
  /* 
  background: @workspacesbackground1;
  background-color: @workspacesbackground2;
  */
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
/*#tags button:hover,*/
#workspaces button:hover {
  /* 
  background: @workspacesbackground1;
  background-color: @workspacesbackground2;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
  */
  color: @tooltiptext;
  background-color: @tooltipbackground;
  opacity: 1;
}

/* -----------------------------------------------------
 * Tooltips
 * -----------------------------------------------------
 */
tooltip {
  background-color: @tooltipbackground;
  opacity: 0.95;
  font-size: 18px;
}
tooltip label {
  font-size: 18px;
  color: @tooltiptext;
}

/* -----------------------------------------------------
 * Quicklinks
 * -----------------------------------------------------
 */
#custom-browser,
#custom-keybindings,
#custom-filemanager,
#custom-chatgpt,
#custom-calculator,
#custom-cliphist,
#custom-wallpaper,
#custom-system,
#custom-waybarthemes,
#custom-system {
  font-weight: bold;
  opacity: 0.8;
  color: @iconcolor;
  padding: 0px 8px 0px 8px;
  margin: 0px 0px;
}

/* -----------------------------------------------------
 * APP MENU
 * -----------------------------------------------------
 */
#appo {
  border: 1px solid @bordercolor;
  border-bottom: 2px solid @bordercolorb;
  border-right: 2px solid @bordercolorb;
  padding: 0px 3px 0px 1px;
}
#appo :hover {
  color: @tooltiptext;
  background-color: @tooltipbackground;
}
/* APP MENU */
#custom-appmenu {
  color: @textcolor1;
  opacity: 0.8;
  padding: 0px 2px 0px 2px;
}
/* TASKBAR */
#taskbar {
  margin: 0px 0px;
}
#taskbar button {
  padding: 3px 0px 0px 0px;
}
#taskbar:hover {
  background-color: transparent;
}
#taskbar button:hover {
  color: @tooltiptext;
  background-color: @tooltipbackground;
}
/* CHATGPT */
#custom-chatgpt {
  background-image: url("../../assets/ai-icon-14.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 8px 0px 8px;
  margin: 3px 0px 0px 5px;
}

/* -----------------------------------------------------
 * CURRENTS GROUP
 * -----------------------------------------------------
 */
#custom-weatherD,
#custom-weatherC,
#clock {
  /* 
  font-family: Roboto bold;
  padding: 0px 9px 0px 9px;
  color: @textcolor1;
  background-color: @backgrounddark;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  */
  font-size: 13px;
  padding: 0px 4px 0px 4px;
}
#mpris,
#submap,
#currents {
  opacity: 1;
  background-color: @backgrounddark;
  color: @textcolor1;
  border: 1px solid @bordercolor;
  border-bottom: 2px solid @bordercolorb;
  border-right: 2px solid @bordercolorb;
}
#submap,
#mpris {
  padding: 0px 9px 0px 9px;
}
#currents :hover {
  color: @tooltiptext;
  background-color: @tooltipbackground;
}

/* -----------------------------------------------------
 * Hardware Group
 * -----------------------------------------------------
 */
#hardware {
  color: @iconcolor;
  font-size: 11px;
  padding: 0px 6px 0px 0px;
}
#network {
  color: @textcolor2;
  opacity: 0.8;
}
#network.ethernet {
  color: @textcolor2;
}
#network.wifi {
  color: @textcolor2;
}
/* BLUETOOTH */
#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  /*background-color: @backgroundlight;*/
  color: @textcolor2;
  opacity: 0.8;
}
#bluetooth.off {
}
/* BATTERY */
#battery {
  color: @textcolor2;
  opacity: 0.8;
}
#battery.charging,
#battery.plugged {
  color: @textcolor2;
}
@keyframes blink {
  to {
    color: #f53c3c;
  }
}
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: @textcolor3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* IDLE INHIBATOR */
#idle_inhibitor {
  font-weight: bold;
  opacity: 0.8;
  color: @iconcolor;
}
#idle_inhibitor.activated {
  font-weight: bold;
  opacity: 0.8;
  color: #dc2f2f;
}
/* CUSTOR UPDATES */
#custom-updates {
  padding: 0px 9px 0px 9px;
  opacity: 0.8;
}
#custom-updates.green {
  background-color: #1cfa2f;
  color: #000000;
}
#custom-updates.yellow {
  background-color: #ff9a3c;
  color: #ffffff;
}
#custom-updates.red {
  background-color: #dc2f2f;
  color: #ffffff;
}
#hardware :hover {
  color: @tooltiptext;
  background-color: @tooltipbackground;
}

/* -----------------------------------------------------
 * TRAY
 * -----------------------------------------------------
 */
#tray {
  padding: 0px 4px 0px 4px;
  color: @iconcolor;
  /* background-color: @workspacesbackground2; */
  background-color: alpha (@workspacesbackground2, 0.6);
  border: 1px solid @bordercolor;
  border-bottom: 2px solid @bordercolorb;
  border-right: 2px solid @bordercolorb;
}
#tray > :hover {
  color: @tooltiptext;
  background-color: @tooltipbackground;
}
#tray > .active {
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* -----------------------------------------------------
 * USER
 * -----------------------------------------------------
 */
#user {
  color: @textcolor2;
  font-size: 3px;
}

/* -----------------------------------------------------
 * AUDIO
 * -----------------------------------------------------
 */
#audios {
  /*
  border: 1px solid @bordercolor;
  border-bottom: 2px solid @bordercolorb;
  background-color: @backgroundlight;
  */
  color: @textcolor3;
  opacity: 0.8;
}
#audios :hover {
  color: @tooltiptext;
  background-color: @tooltipbackground;
}
#cava {
  font-size: 12px;
  padding: 1px 0px 0px 2px;
}
#pulseaudio {
  padding: 0px 9px 0px 9px;
/* background-color: @backgroundlight; */
}
#pulseaudio.muted {
  background-color: rgba(200,0,0,0.6);
  color: @textcolor1;
}
#wireplumber,
#pulseaudio-slider {
}
#pulseaudio-slider slider {
  min-height: 9px;
  min-width: 9px;
  opacity: 1;
  background-image: none;
  border: none;
  box-shadow: none;
  background-color: #ffffff;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: #00ff00;
}
#pulseaudio-slider highlight {
  min-width: 9px;
  min-height: 10px;
  border-radius: 5px;
  background-color: #ff00ff;
}

/* -----------------------------------------------------
 * CUSTOM EXIT
 * -----------------------------------------------------
 */
#custom-exit {
  color: @textcolor1;
  border: 1px solid @bordercolor;
  border-bottom: 2px solid @bordercolorb;
  border-right: 2px solid @bordercolorb;
  padding: 0px 9px 0px 9px;
}
#custom-exit:hover {
  color: @tooltiptext;
  background-color: @tooltipbackground;
}

/* -----------------------------------------------------
 * SPECIAL MARKS
 * -----------------------------------------------------
 */
#custom-separator,
#custom-right,
#custom-left {
  color: @textcolor3;
  background-color: transparent;
}
#custom-separator:hover,
#custom-right:hover,
#custom-left:hover {
  color: @textcolor3;
  background-color: transparent;
}
